flows (7).json
[{"id":"50d1285e.6b3b18","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"574a5b05.3e59b4","type":"openweathermap","z":"50d1285e.6b3b18","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":930,"y":200,"wires":[["7ff6f2a4.acbc4c","8c5f171.f6cbde8"]]},{"id":"76a347d5.bc5508","type":"trigger","z":"50d1285e.6b3b18","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-30000","extend":false,"overrideDelay":true,"units":"ms","reset":"reset","bytopic":"all","topic":"topic","outputs":1,"x":520,"y":260,"wires":[["3c74816e.9c63ee"]]},{"id":"808abcf8.b73b1","type":"ui_button","z":"50d1285e.6b3b18","name":"","group":"58bc9609.7d2308","order":1,"width":"3","height":"1","passthru":false,"label":"Get Info","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":260,"y":180,"wires":[["e26cfbcb.bb2d38"]]},{"id":"68614f3d.293cf","type":"ui_button","z":"50d1285e.6b3b18","name":"","group":"58bc9609.7d2308","order":2,"width":"3","height":"1","passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":250,"y":300,"wires":[["76a347d5.bc5508"]]},{"id":"441b295a.9d42b8","type":"ui_text_input","z":"50d1285e.6b3b18","name":"","label":"Delay Seconds","tooltip":"","group":"1b57dc27.5974c4","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":280,"y":360,"wires":[["5f73a6e6.b439a8"]]},{"id":"5f73a6e6.b439a8","type":"function","z":"50d1285e.6b3b18","name":"","func":"global.set(\"refresh\", msg.payload);\nreturn {\n    delay: msg.payload * 1000\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":360,"wires":[["76a347d5.bc5508"]]},{"id":"d83c4986.d15ae8","type":"debug","z":"50d1285e.6b3b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":640,"wires":[]},{"id":"d13304ad.281da8","type":"ui_dropdown","z":"50d1285e.6b3b18","name":"","label":"Location","tooltip":"","place":"Select option","group":"1b57dc27.5974c4","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"City, Country","value":true,"type":"bool"},{"label":"Coordinates","value":false,"type":"bool"}],"payload":"","topic":"","x":260,"y":520,"wires":[["5babaca5.ee1ec4","c5d3385b.4c0c58"]]},{"id":"5babaca5.ee1ec4","type":"function","z":"50d1285e.6b3b18","name":"","func":"if (msg.payload){\n    global.set(\"stat\", true)\n} else {\n    global.set(\"stat\", false)\n}\nreturn {\n    payload: \"reset\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":480,"wires":[["76a347d5.bc5508"]]},{"id":"3c74816e.9c63ee","type":"switch","z":"50d1285e.6b3b18","name":"","property":"stat","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":360,"wires":[["e4654d07.9041"],["c1b5a033.864b3"]]},{"id":"e4654d07.9041","type":"function","z":"50d1285e.6b3b18","name":"","func":"return {\n    location: {\n          city: global.get(\"City\"), country: global.get(\"Country\"),\n          lat: undefined, lon: undefined\n        }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":280,"wires":[["574a5b05.3e59b4"]]},{"id":"c1b5a033.864b3","type":"function","z":"50d1285e.6b3b18","name":"","func":"return {\n        location: {\n          lat: global.get(\"Latitude\"), lon: global.get(\"Longitude\"),\n          city: undefined, country: undefined\n        }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":440,"wires":[["f69923a6.9d1f7"]]},{"id":"f69923a6.9d1f7","type":"openweathermap","z":"50d1285e.6b3b18","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":930,"y":520,"wires":[["7ff6f2a4.acbc4c"]]},{"id":"c528efe4.43c6c","type":"ui_text_input","z":"50d1285e.6b3b18","name":"","label":"City","tooltip":"","group":"babb118.66070f","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":290,"y":620,"wires":[["b2eef381.8cea"]]},{"id":"b759c90a.18df78","type":"ui_text_input","z":"50d1285e.6b3b18","name":"","label":"Country","tooltip":"","group":"babb118.66070f","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":280,"y":660,"wires":[["96e60927.0b7ca8"]]},{"id":"b2eef381.8cea","type":"function","z":"50d1285e.6b3b18","name":"","func":"global.set(\"City\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":620,"wires":[[]]},{"id":"96e60927.0b7ca8","type":"function","z":"50d1285e.6b3b18","name":"","func":"global.set(\"Country\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":660,"wires":[[]]},{"id":"af2fd516.9f4b48","type":"ui_text_input","z":"50d1285e.6b3b18","name":"","label":"Latitude","tooltip":"","group":"aa93ad1.850515","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":280,"y":700,"wires":[["23453a0f.b5a356"]]},{"id":"8b068966.138ca8","type":"ui_text_input","z":"50d1285e.6b3b18","name":"","label":"Longitude","tooltip":"","group":"aa93ad1.850515","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":280,"y":740,"wires":[["d956d4c.9f7ea28"]]},{"id":"23453a0f.b5a356","type":"function","z":"50d1285e.6b3b18","name":"","func":"global.set(\"Latitude\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":700,"wires":[[]]},{"id":"d956d4c.9f7ea28","type":"function","z":"50d1285e.6b3b18","name":"","func":"global.set(\"Longitude\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":740,"wires":[[]]},{"id":"a37584a.c3f9678","type":"inject","z":"50d1285e.6b3b18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":250,"y":440,"wires":[["441b295a.9d42b8"]]},{"id":"e26cfbcb.bb2d38","type":"function","z":"50d1285e.6b3b18","name":"","func":"\nreturn {\n    delay: global.get(\"refresh\") * 1000\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":180,"wires":[["76a347d5.bc5508"]]},{"id":"c5d3385b.4c0c58","type":"function","z":"50d1285e.6b3b18","name":"","func":"if(msg.payload){\n    return{\n        payload:{\"group\":{\"show\":[\"Home_Enter_City_&_Country\"], \"hide\":[\"Home_Enter_Coordinates\"]}}\n    }\n}else{\n     return{\n        payload:{\"group\":{\"show\":[\"Home_Enter_Coordinates\"], \"hide\":[\"Home_Enter_City_&_Country\"]}}\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":560,"wires":[["343d4a27.d0f766"]]},{"id":"343d4a27.d0f766","type":"ui_ui_control","z":"50d1285e.6b3b18","name":"","events":"all","x":640,"y":560,"wires":[[]]},{"id":"19ddf7d1.4e1ca8","type":"mqtt out","z":"50d1285e.6b3b18","name":"","topic":"ENTC/EN2560/in/180241M","qos":"","retain":"","broker":"1491aeaf.e0f931","x":1040,"y":720,"wires":[]},{"id":"7ff6f2a4.acbc4c","type":"function","z":"50d1285e.6b3b18","name":"","func":"return {\n    payload: msg.payload.tempc + \",\" + msg.payload.humidity + \",\" + msg.payload.weather + \",\"  + msg.location.city+\",\"+msg.location.country + \",\" + msg.data.timezone\n        \n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":360,"wires":[["19ddf7d1.4e1ca8","d83c4986.d15ae8"]]},{"id":"cf4c9352.fffdc","type":"mqtt in","z":"50d1285e.6b3b18","name":"","topic":"ENTC/EN2560/out/180241M","qos":"2","datatype":"auto","broker":"11f8783d.6a2228","x":160,"y":80,"wires":[["8e954dad.bb62a","4053153d.24663c"]]},{"id":"8c5f171.f6cbde8","type":"debug","z":"50d1285e.6b3b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":240,"wires":[]},{"id":"50f46b2f.a9e124","type":"function","z":"50d1285e.6b3b18","name":"","func":"global.set(\"City\",msg.payload.city);\nglobal.set(\"Country\",msg.payload.country);\nglobal.set(\"stat\", true);\nreturn {\n    delay: global.get(\"refresh\") * 1000\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":240,"wires":[["76a347d5.bc5508"]]},{"id":"8e954dad.bb62a","type":"json","z":"50d1285e.6b3b18","name":"","property":"payload","action":"","pretty":false,"x":150,"y":240,"wires":[["50f46b2f.a9e124"]]},{"id":"4053153d.24663c","type":"debug","z":"50d1285e.6b3b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":40,"wires":[]},{"id":"8162429f.c798b","type":"function","z":"50d1285e.6b3b18","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":100,"wires":[[]]},{"id":"f0059862.795958","type":"inject","z":"50d1285e.6b3b18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":570,"y":120,"wires":[["8162429f.c798b"]]},{"id":"96629fce.7498d","type":"catch","z":"50d1285e.6b3b18","name":"","scope":["574a5b05.3e59b4","f69923a6.9d1f7"],"uncaught":false,"x":1020,"y":80,"wires":[["e9325b1e.c1ace8"]]},{"id":"e9325b1e.c1ace8","type":"debug","z":"50d1285e.6b3b18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1260,"y":80,"wires":[]},{"id":"58bc9609.7d2308","type":"ui_group","name":"Buttonss","tab":"c4f89b83.5da6a8","order":4,"disp":false,"width":"3","collapse":false},{"id":"1b57dc27.5974c4","type":"ui_group","name":"Controls","tab":"c4f89b83.5da6a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"babb118.66070f","type":"ui_group","name":"Enter City & Country","tab":"d454a24.8853c6","order":2,"disp":true,"width":"6","collapse":false},{"id":"aa93ad1.850515","type":"ui_group","name":"Enter Coordinates","tab":"d454a24.8853c6","order":3,"disp":true,"width":"6","collapse":false},{"id":"1491aeaf.e0f931","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"11f8783d.6a2228","type":"mqtt-broker","name":"","broker":"test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c4f89b83.5da6a8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d454a24.8853c6","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]