flows (5).json
[{"id":"fa6dd114.c74fe","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3194b035.bda45","type":"openweathermap","z":"fa6dd114.c74fe","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":930,"y":200,"wires":[["378f8651.8a24ea","51208a36.f4c664"]]},{"id":"4d399b2f.33b604","type":"trigger","z":"fa6dd114.c74fe","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-30000","extend":false,"overrideDelay":true,"units":"ms","reset":"reset","bytopic":"all","topic":"topic","outputs":1,"x":520,"y":260,"wires":[["2764d5f8.98f65a"]]},{"id":"3e1b1a86.2e0496","type":"ui_button","z":"fa6dd114.c74fe","name":"","group":"54bfac6f.b9a104","order":1,"width":"3","height":"1","passthru":false,"label":"Get Info","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":260,"y":180,"wires":[["44dbbae2.365404"]]},{"id":"6032ee26.c0793","type":"ui_button","z":"fa6dd114.c74fe","name":"","group":"54bfac6f.b9a104","order":2,"width":"3","height":"1","passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":250,"y":300,"wires":[["4d399b2f.33b604"]]},{"id":"7ace344a.55118c","type":"ui_text_input","z":"fa6dd114.c74fe","name":"","label":"Delay Seconds","tooltip":"","group":"d4e6f0f4.94cef","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":280,"y":360,"wires":[["c5aeebbe.deca78"]]},{"id":"c5aeebbe.deca78","type":"function","z":"fa6dd114.c74fe","name":"","func":"global.set(\"refresh\", msg.payload)\nreturn {\n    delay: msg.payload * 1000\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":360,"wires":[["4d399b2f.33b604"]]},{"id":"5c5693c7.0fd0cc","type":"debug","z":"fa6dd114.c74fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":640,"wires":[]},{"id":"1454ed1c.455e23","type":"ui_dropdown","z":"fa6dd114.c74fe","name":"","label":"Location","tooltip":"","place":"Select option","group":"d4e6f0f4.94cef","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"City, Country","value":true,"type":"bool"},{"label":"Coordinates","value":false,"type":"bool"}],"payload":"","topic":"","x":260,"y":520,"wires":[["c8d07b01.db7338","864263ad.5333a"]]},{"id":"c8d07b01.db7338","type":"function","z":"fa6dd114.c74fe","name":"","func":"if (msg.payload){\n    global.set(\"stat\", true)\n} else {\n    global.set(\"stat\", false)\n}\nreturn {\n    payload: \"reset\"\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":480,"wires":[["4d399b2f.33b604"]]},{"id":"2764d5f8.98f65a","type":"switch","z":"fa6dd114.c74fe","name":"","property":"stat","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":360,"wires":[["baf9c6aa.df4548"],["89d7f829.0b7328"]]},{"id":"baf9c6aa.df4548","type":"function","z":"fa6dd114.c74fe","name":"","func":"return {\n    location: {\n          city: global.get(\"City\"), country: global.get(\"Country\"),\n          lat: undefined, lon: undefined\n        }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":280,"wires":[["3194b035.bda45"]]},{"id":"89d7f829.0b7328","type":"function","z":"fa6dd114.c74fe","name":"","func":"return {\n        location: {\n          lat: global.get(\"Latitude\"), lon: global.get(\"Longitude\"),\n          city: undefined, country: undefined\n        }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":440,"wires":[["ca7beff2.e1159"]]},{"id":"ca7beff2.e1159","type":"openweathermap","z":"fa6dd114.c74fe","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":930,"y":520,"wires":[["378f8651.8a24ea"]]},{"id":"dcb2693e.600b98","type":"ui_text_input","z":"fa6dd114.c74fe","name":"","label":"City","tooltip":"","group":"babb118.66070f","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":290,"y":620,"wires":[["9de4960e.011f88"]]},{"id":"479930a3.59e14","type":"ui_text_input","z":"fa6dd114.c74fe","name":"","label":"Country","tooltip":"","group":"babb118.66070f","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":280,"y":660,"wires":[["21fc0bf7.e18474"]]},{"id":"9de4960e.011f88","type":"function","z":"fa6dd114.c74fe","name":"","func":"global.set(\"City\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":620,"wires":[[]]},{"id":"21fc0bf7.e18474","type":"function","z":"fa6dd114.c74fe","name":"","func":"global.set(\"Country\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":660,"wires":[[]]},{"id":"6013f75.2df7d08","type":"ui_text_input","z":"fa6dd114.c74fe","name":"","label":"Latitude","tooltip":"","group":"aa93ad1.850515","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":280,"y":700,"wires":[["12af5f38.de5fd1"]]},{"id":"8f56a351.c7b1b","type":"ui_text_input","z":"fa6dd114.c74fe","name":"","label":"Longitude","tooltip":"","group":"aa93ad1.850515","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":280,"y":740,"wires":[["20937d7b.b50c42"]]},{"id":"12af5f38.de5fd1","type":"function","z":"fa6dd114.c74fe","name":"","func":"global.set(\"Latitude\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":700,"wires":[[]]},{"id":"20937d7b.b50c42","type":"function","z":"fa6dd114.c74fe","name":"","func":"global.set(\"Longitude\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":740,"wires":[[]]},{"id":"14f54a4e.7decd6","type":"inject","z":"fa6dd114.c74fe","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":250,"y":440,"wires":[["7ace344a.55118c"]]},{"id":"44dbbae2.365404","type":"function","z":"fa6dd114.c74fe","name":"","func":"\nreturn {\n    delay: global.get(\"refresh\") * 1000\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":180,"wires":[["4d399b2f.33b604"]]},{"id":"864263ad.5333a","type":"function","z":"fa6dd114.c74fe","name":"","func":"if(msg.payload){\n    return{\n        payload:{\"group\":{\"show\":[\"Home_Enter_City_&_Country\"], \"hide\":[\"Home_Enter_Coordinates\"]}}\n    }\n}else{\n     return{\n        payload:{\"group\":{\"show\":[\"Home_Enter_Coordinates\"], \"hide\":[\"Home_Enter_City_&_Country\"]}}\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":560,"wires":[["86c79089.3589c"]]},{"id":"86c79089.3589c","type":"ui_ui_control","z":"fa6dd114.c74fe","name":"","events":"all","x":640,"y":560,"wires":[[]]},{"id":"9928c333.c1382","type":"mqtt out","z":"fa6dd114.c74fe","name":"","topic":"ENTC/EN2560/in/180241M","qos":"","retain":"","broker":"c00e0880.ee19f8","x":1040,"y":720,"wires":[]},{"id":"378f8651.8a24ea","type":"function","z":"fa6dd114.c74fe","name":"","func":"return {\n    payload: msg.payload.tempc + \",\" + msg.payload.humidity + \",\" + msg.payload.weather + \",\" + msg.payload.detail + \",\" + msg.location.city+\",\"+msg.location.country\n        \n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":360,"wires":[["9928c333.c1382","5c5693c7.0fd0cc"]]},{"id":"d8da148d.c76208","type":"mqtt in","z":"fa6dd114.c74fe","name":"","topic":"ENTC/EN2560/out/180241M","qos":"2","datatype":"auto","broker":"3fd7311e.c028ce","x":160,"y":80,"wires":[["28fabb0b.8be724"]]},{"id":"51208a36.f4c664","type":"debug","z":"fa6dd114.c74fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1240,"y":260,"wires":[]},{"id":"54cb2b89.4a71d4","type":"function","z":"fa6dd114.c74fe","name":"","func":"global.set(\"City\",msg.payload.city);\nglobal.set(\"Country\",msg.payload.country);\nreturn {\n    delay: global.get(\"refresh\") * 1000\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":240,"wires":[["4d399b2f.33b604"]]},{"id":"28fabb0b.8be724","type":"json","z":"fa6dd114.c74fe","name":"","property":"payload","action":"","pretty":false,"x":150,"y":240,"wires":[["54cb2b89.4a71d4"]]},{"id":"54bfac6f.b9a104","type":"ui_group","name":"Buttonss","tab":"ebed31fe.1f9a6","order":4,"disp":false,"width":"3","collapse":false},{"id":"d4e6f0f4.94cef","type":"ui_group","name":"Controls","tab":"ebed31fe.1f9a6","order":1,"disp":true,"width":"6","collapse":false},{"id":"babb118.66070f","type":"ui_group","name":"Enter City & Country","tab":"ba2e8bd0.ae88b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"aa93ad1.850515","type":"ui_group","name":"Enter Coordinates","tab":"ba2e8bd0.ae88b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"c00e0880.ee19f8","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3fd7311e.c028ce","type":"mqtt-broker","name":"","broker":"test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ebed31fe.1f9a6","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ba2e8bd0.ae88b8","type":"ui_tab","name":"Weather","icon":"dashboard","disabled":false,"hidden":false}]